<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Salles disponibles</h1>
          <div>
            <form>
              <label for="date">
                Merci d'entrer une date que vous aimeriez voir :
              </label>
              <input
                class="form-control"
                type="datetime-local"
                id="date"
                name="date"
              />
              <label for="date">
                Ou sinon, merci d'entrer une salle que vous aimeriez voir :
              </label>
              <select name="room" class="form-control" id="room">
                {{ range $i, $e := . }} {{ if eq $i 0 }} {{ range $f := $e }}
                <option value="{{$f.Id}}">{{$f.Id }} : {{.Name }}</option>
                {{end}} {{end}} {{end}}
              </select>
              <input class="btn btn-primary" type="submit" value="Rechercher" />
            </form>
            <br />
            <table class="table table-bordered table-hover" >
              <tr>
				  <th>Id de la réservation</th>
				  <th>Nom de la salle</th>
                <th>Date de début</th>
                <th>Date de fin</th>
              </tr>
              {{ range $i, $e := . }} {{ if eq $i 1 }} {{ range $f := $e }}
              <tr>
                <td>{{$f.Id}}</td>
                <td>{{$f.RoomName}}</td>
				<td>{{$f.Date}}</td>
				<td></td>
              </tr>
              {{else}}
              <tr>
                <td colspan="3">Aucune salle existante.</td>
              </tr>
              {{end}}{{end}} {{end}}
            </table>
            <div>
              <a class="btn btn-primary" href="/home"> Retour</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.querySelector("form").addEventListener("submit", function (e) {
        e.preventDefault();
        const date = document.querySelector("#date").value;
        window.location.href = `/available_salles?date=${date}`;
      });
    </script>
  </body>
</html>
